html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background-color: #BDC3C7;
}

h1, p {
	text-align: center;
	font-style: Tahoma;
	padding: 0px 10px 0px 10px;
}

.main-menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #2C3E50; 
	height: 50px;
}

ul {
	text-align: center;
}

.main-menu > li {
	position: relative;
	display: inline-block;
	width: 150px;
	min-height: 30px;
	text-align: center;
	margin: 10px 0 10px 0;
	background-color: #BDC3C7;
	border-radius: 5px 15px 5px 15px;
	border: 1px solid #2C3E50;
}

.main-menu > li:hover{
	background-color: #95A5A6;
}

.main-menu a {
	display: block;
	padding: 5px 10px;
	color: #34495E;
	text-decoration: none;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	display: none;
}

.main-menu .sub-menu li{
	background-color: #BDC3C7;
	border-radius: 5px;
	border: 1px solid #2C3E50;
	margin: 5px 0 5px 0;
	width: 150px;
}

.main-menu .sub-menu li:hover{
	background-color: #95A5A6;
}

.main-menu li:hover ul{
	display: block;
}

.menu-bottom-margin {
	height: 5px;
	background-color: #DADFE1;
}

.container-white {
	width: 50%;
	background-color: #DADFE1;
	margin: 10px;
	padding: 0 10px 0 10px;
	border-radius: 10px;
	border: 1px solid #2C3E50;
}

footer {
	text-align: right;
	padding: 0 10px 10px 0; 
	font-style: italic;
	font-weight: bold;
	color: #2C3E50; 
}

.maining-png img {
	border-radius: 10px;
	border: 1px solid #2C3E50;
	margin-top: 5px;
}