.backgrnd {
	margin: 20px;
}

body {
	margin: 20px;
}

html {
	background-color: #ECF0F1;
}

h1, p {
	text-align: center;
	font-style: Tahoma;
	padding: 0px 10px 0px 10px;
}

.main-menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	left
}

ul {
	text-align: center;
}

.main-menu > li {
	position: relative;
	display: inline-block;
	height: : 30px;
	text-align: center;
	background-color: #BDC3C7;
	border-radius: 5px;
	border: 1px solid #2C3E50;
}

.main-menu > li:nth-last-child(1) {
}

.main-menu a {
	display: block;
	padding: 5px 10px;
	color: blue;
	text-decoration: none;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	left: 39%;
}

.main-menu .sub-menu > li{
	position: relative;
	display: list-item;
	height: : 30px;
	text-align: center;
	background-color: #BDC3C7;
	border-radius: 5px;
	border: 1px solid #2C3E50;
	margin: 5px 0 5px 0;
}
