.backgrnd {
	margin: 20px;
}

body {
	border: 2px solid black;
	margin: 20px;
	background-color: white;
}

html {
	background-color: black;
}

h1, p {
	text-align: center;
	font-style: Tahoma;
	padding: 0px 10px 0px 10px;
}